
@{
    ViewBag.Title = "Add_Attendance";
}


<div class="page-wrapper">
    <div class="content">
        <div class="success-message">
            @Html.Partial("~/Views/Shared/Sucess_Alert.cshtml")
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">Attendance</h4>
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Employee</label>
                            <div class="col-md-9 emp_id">
                            <select class="form-control" id="emp_id">
                                <option value="0">Select</option>
                                @foreach (var s in ViewBag.emplist as List<Payroll.Models.Employee>)
                                {
                                    <option value="@s.Emp_id">@s.Name</option>
                                }
                            </select>
                                <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Employee</span>
                            </div>
                            
                        </div>
                        <div class="form-group row Attendance_Date">
                            <label class="col-md-3 col-form-label">Select Date</label>
                            <div class="col-md-9">
                                <input type="date" class="form-control" id="Attendance_Date" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Date</span>
                            </div>
                        </div>
                        <div class="form-group row In_Time">
                            <label class="col-md-3 col-form-label">Time</label>
                            <div class="col-md-9">
                                <input type="time" class="form-control" id="In_Time">
                                <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time</span>
                            </div>
                        </div>
                        <div class="form-group row Out_Time">
                            <label class="col-md-3 col-form-label">Time Status</label>
                            <div class="col-md-9 Time_Status">
                                <select class="form-control" id="Time_Status">
                                    <option value="0">Select</option>
                                    <option value="1">Time In</option>
                                    <option value="2">Time Out</option>
                                </select>
                                <span class="error"><i class="fa fa-exclamation-circle"></i>&nbsp; Enter Time Status</span>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>


    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }
</style>

<script src="~/Content/assets/js/Jquery3.6.1.js"></script>
<script>
    $(document).ready(function () {

        $('#submit').click(function (e) {
            e.preventDefault();
            var isAllValid = true;

            if (!($('#emp_id').val().trim() != 0)) {
                isAllValid = false;
                $('.emp_id .error').css('display', 'block');
            }
            else {
                $('.emp_id .error').css('display', 'none');
            }

            if (!($('#Attendance_Date').val().trim() != '')) {
                isAllValid = false;
                $('.Attendance_Date .error').css('display', 'block');
            }
            else {
                $('.Attendance_Date .error').css('display', 'none');
            }


            if (!($('#In_Time').val().trim() != '')) {
                isAllValid = false;
                $('.In_Time .error').css('display', 'block');
            }
            else {
                $('.In_Time .error').css('display', 'none');
            }

            if (!($('#Time_Status').val().trim() != 0)) {
                isAllValid = false;
                $('.Time_Status .error').css('display', 'block');
            }
            else {
                $('.Time_Status .error').css('display', 'none');
            }


            if (isAllValid) {
                $('#submit').prop('disabled', true);

                var data = {
                    Emp_id: $('#emp_id').val(),
                    Attendance_Date: $('#Attendance_Date').val(),
                    Time_IN: $('#In_Time').val(),
                    Time_Out: $('#Time_Status').val()
                }

                debugger
                $.ajax({
                    type: 'POST',
                    url: '/Attendance/Add_Attendance',
                    data: {
                        'Emp_id': data.Emp_id,
                        'Attendance_Date': data.Attendance_Date,
                        'Time_IN': data.Time_IN,
                        'Time_Out': data.Time_Out
                    }
                    ,
                    success: function (resp) {
                        if (resp.status) {
                            $('.success-message').delay(1000).fadeIn();
                            $('.success-message').delay(1000).fadeOut();
                            $('#submit').prop('disabled', false);
                            $('#emp_id').val(0);
                            $('#Attendance_Date,#In_Time').val('');
                            $('#Time_Status').val(0);

                        }
                    }
                });
            }


        });


    });
</script>
<style>
    .success-message {
        display: none;
    }
</style>


