<div style="position:fixed; z-index:1;">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> E-mail or Password is not valid.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>