
<!DOCTYPE html>
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">
    <title>Payroll</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/Content/assets/js/html5shiv.min.js"></script>
        <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                   @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/Jquery3.6.1.js"></script>
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
</body>


<!-- login23:12-->
</html>