USE [Hosp_Payroll]
GO
/****** Object:  Table [dbo].[Activity_log]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Activity_log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Document] [varchar](50) NULL,
	[Table_flag] [varchar](50) NULL,
	[Activity_Type] [varchar](10) NULL,
	[Activity_Date] [datetime] NULL CONSTRAINT [DF_Activity_log_Activity_Date]  DEFAULT (getdate()),
	[User_id] [int] NULL,
 CONSTRAINT [PK_Activity_log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Attendance_Sheet]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attendance_Sheet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_id] [varchar](10) NULL,
	[Attendance_Date] [date] NULL,
	[Time] [time](7) NULL,
	[Status] [varchar](2) NULL,
 CONSTRAINT [PK_Attendance_Sheet] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Father_Name] [varchar](50) NULL,
	[CNIC] [varchar](17) NULL,
	[address] [varchar](200) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Date_of_Birth] [date] NULL,
	[Gender] [char](1) NULL,
	[Designation] [varchar](50) NULL,
	[Gross_Salary] [float] NULL,
	[Time_In] [time](7) NULL,
	[Time_Out] [time](7) NULL,
	[Grace_Time_IN] [time](7) NULL,
	[Grace_Time_Out] [time](7) NULL,
	[Monday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Monday_WD]  DEFAULT ('N'),
	[Tuesday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Tuesday_WD]  DEFAULT ('N'),
	[Wednesday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Wednesday_WD]  DEFAULT ('N'),
	[Thursday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Thursday_WD]  DEFAULT ('N'),
	[Friday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Friday_WD]  DEFAULT ('N'),
	[Saturday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Saturday_WD]  DEFAULT ('N'),
	[Sunday_WD] [char](1) NULL CONSTRAINT [DF_Employee_Sunday_WD]  DEFAULT ('N'),
	[Status] [char](1) NULL,
	[Job_type] [char](50) NULL,
	[Leaves] [int] NULL,
	[Adv_staff] [int] NULL,
	[I_Tax] [int] NULL,
	[Telephone] [int] NULL,
	[EOBI] [int] NULL,
	[Overtime_day] [float] NULL,
	[Days] [float] NULL,
	[Overtime_Rate] [float] NULL,
	[Gross_Salary01] [float] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Holiday](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[H_Date] [date] NULL,
	[H_Reason] [varchar](100) NULL,
	[created_by] [varchar](50) NULL,
	[created_date] [date] NULL,
 CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Leave_Deduction]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leave_Deduction](
	[Emp_id] [int] NULL,
	[Leave_Days] [varchar](5) NULL,
	[From_Date] [date] NULL,
	[To_Date] [date] NULL,
	[Leave_Deduction] [varchar](10) NULL,
	[Total_Leave_Deduction] [varchar](10) NULL,
	[Cancel_YN] [char](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[User_status] [char](1) NULL,
	[U_Pic] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_id] [int] NULL,
	[Pyoll_Date] [date] NULL,
	[Working_Days] [int] NULL,
	[Working_Hours] [int] NULL,
	[Holidays] [int] NULL,
	[Current_Abcent] [int] NULL,
	[Current_Salary_Hours] [int] NULL,
	[Gross_Salary] [float] NULL,
	[Adv_Staff] [int] NULL,
	[I_Tax] [int] NULL,
	[Telephone] [int] NULL,
	[EOBI] [int] NULL,
	[Overtime_day] [float] NULL,
	[Overtime_Rate] [float] NULL,
	[Days] [float] NULL,
 CONSTRAINT [PK_Payroll] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sales]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sales](
	[id] [int] NULL,
	[Sale_name] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tax_slab]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tax_slab](
	[Ts_id] [int] IDENTITY(1,1) NOT NULL,
	[ts_Year] [varchar](20) NULL,
	[Floor_Amount] [varchar](20) NULL,
	[Ceiling_Amount] [varchar](20) NULL,
	[Tax_Amount] [varchar](20) NULL,
	[Tax_Percent] [varchar](20) NULL,
	[Cancel_YN] [char](1) NULL,
 CONSTRAINT [PK_tax_slab] PRIMARY KEY CLUSTERED 
(
	[Ts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/1/2022 2:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[UName] [varchar](50) NULL,
	[UEmail] [varchar](50) NULL,
	[UPassword] [varchar](50) NULL,
	[UPicture] [varchar](50) NULL,
	[ULastLogin] [date] NULL,
	[isDelete] [char](1) NULL,
	[Active] [char](1) NULL,
	[location] [varchar](30) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Activity_log] ON 

INSERT [dbo].[Activity_log] ([Id], [Document], [Table_flag], [Activity_Type], [Activity_Date], [User_id]) VALUES (1, N'Ganja', N'Employee', N'Insert', CAST(N'2021-03-06 18:24:06.020' AS DateTime), 1)
INSERT [dbo].[Activity_log] ([Id], [Document], [Table_flag], [Activity_Type], [Activity_Date], [User_id]) VALUES (2, N'M Sahal Qasim', N'Employee', N'Insert', CAST(N'2021-03-12 16:34:26.787' AS DateTime), 1)
INSERT [dbo].[Activity_log] ([Id], [Document], [Table_flag], [Activity_Type], [Activity_Date], [User_id]) VALUES (3, N'bhabhi', N'Employee', N'Insert', CAST(N'2021-04-09 19:02:15.090' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Activity_log] OFF
SET IDENTITY_INSERT [dbo].[Attendance_Sheet] ON 

INSERT [dbo].[Attendance_Sheet] ([id], [Emp_id], [Attendance_Date], [Time], [Status]) VALUES (9889, N'90', CAST(N'2022-05-01' AS Date), CAST(N'05:09:00' AS Time), N'2
')
INSERT [dbo].[Attendance_Sheet] ([id], [Emp_id], [Attendance_Date], [Time], [Status]) VALUES (9890, N'80', CAST(N'2022-05-01' AS Date), CAST(N'07:45:00' AS Time), N'2
')
INSERT [dbo].[Attendance_Sheet] ([id], [Emp_id], [Attendance_Date], [Time], [Status]) VALUES (9891, N'82', CAST(N'2022-05-01' AS Date), CAST(N'07:53:00' AS Time), N'2
')
GO
SET IDENTITY_INSERT [dbo].[Attendance_Sheet] OFF
SET IDENTITY_INSERT [dbo].[Holiday] ON 

INSERT [dbo].[Holiday] ([id], [H_Date], [H_Reason], [created_by], [created_date]) VALUES (1, CAST(N'2021-02-17' AS Date), N'Kashmir days', NULL, NULL)
INSERT [dbo].[Holiday] ([id], [H_Date], [H_Reason], [created_by], [created_date]) VALUES (2, CAST(N'2021-02-27' AS Date), N'Pakistan Day', NULL, NULL)
INSERT [dbo].[Holiday] ([id], [H_Date], [H_Reason], [created_by], [created_date]) VALUES (1002, CAST(N'2021-01-01' AS Date), N'Maire Day', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Holiday] OFF
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([id], [User_Name], [Email], [Password], [User_status], [U_Pic]) VALUES (1, N'Sahal', N's.m.sahal786@outlook.com', N'1234', N'Y', NULL)
SET IDENTITY_INSERT [dbo].[Login] OFF
INSERT [dbo].[sales] ([id], [Sale_name]) VALUES (2, N'hellow')
INSERT [dbo].[sales] ([id], [Sale_name]) VALUES (2, N'hellow')
INSERT [dbo].[sales] ([id], [Sale_name]) VALUES (2, N'hellow01')
SET IDENTITY_INSERT [dbo].[tax_slab] ON 

INSERT [dbo].[tax_slab] ([Ts_id], [ts_Year], [Floor_Amount], [Ceiling_Amount], [Tax_Amount], [Tax_Percent], [Cancel_YN]) VALUES (1, N'2020', N'1000001', N'2000002', N'3000003', N'40000004', N'N')
INSERT [dbo].[tax_slab] ([Ts_id], [ts_Year], [Floor_Amount], [Ceiling_Amount], [Tax_Amount], [Tax_Percent], [Cancel_YN]) VALUES (2, N'2015', N'50001', N'50002', N'50003', N'50005', N'Y')
INSERT [dbo].[tax_slab] ([Ts_id], [ts_Year], [Floor_Amount], [Ceiling_Amount], [Tax_Amount], [Tax_Percent], [Cancel_YN]) VALUES (1002, N'2020', N'400', N'500', N'600', N'700', N'Y')
SET IDENTITY_INSERT [dbo].[tax_slab] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Uid], [UName], [UEmail], [UPassword], [UPicture], [ULastLogin], [isDelete], [Active], [location]) VALUES (1, N'Sahal', N'sahal@gmail.com', N'.', NULL, NULL, NULL, N'Y', NULL)
INSERT [dbo].[Users] ([Uid], [UName], [UEmail], [UPassword], [UPicture], [ULastLogin], [isDelete], [Active], [location]) VALUES (2, N'Faheem', N'faheemuzzaman@hotmail.com', N'123', NULL, NULL, NULL, N'Y', NULL)
INSERT [dbo].[Users] ([Uid], [UName], [UEmail], [UPassword], [UPicture], [ULastLogin], [isDelete], [Active], [location]) VALUES (3, N'Ganja', N'ganja@gmail.com', N'.1', NULL, NULL, NULL, N'N', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Leave_Deduction] ADD  CONSTRAINT [DF_Leave_Deduction_Cancel_YN]  DEFAULT ('N') FOR [Cancel_YN]
GO
